.box__img {
  margin: auto;
  width: 100%;

  display: flex;
  justify-content: center;
  img {
    max-width: 300px;
  }
}
.input__url {
  width: 100%;
  max-width: 1024px;
}
.link {
  width: 100%;
  max-width: 1024px;
  .link__item {
    a {
      color: #009688;
      &:hover {
        color: orange;
      }
    }
  }
}
